body {
    background-color: #23384D;
    color: White;
    font-family: "Gentium Basic", serif;
    font-size: 12px;
    background: linear-gradient(180deg, #23384d, #12ebf2);
    background-size: 400% 1000%;

    -webkit-animation: EvilSofia 22s ease infinite;
    -moz-animation: EvilSofia 22s ease infinite;
    animation: EvilSofia 22s ease infinite;

    @-webkit-keyframes EvilSofia {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes EvilSofia {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes EvilSofia { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

circle {
    fill: Gold;
    stroke: white;
}

.panel {
    height: 100vh;
}


li {
    font-family: "Gentium Basic", serif;
}

h1, h3, h5 {
    font-family: "PT Mono";
    color: #3C93AF; 
    text-transform: uppercase;
}

h2, h4, h6 {
    font-family: "PT Mono";
    color: #A5A0B7; 
    text-transform: uppercase;
    text-align: center;
}

body .btn {
    font-family: "PT Mono", sans-serif;
    margin-top: 30px; 
    font-size: 17px;
    padding: 18px;
    color: gold;
    border: medium dashed gold;

    margin-right: 40px;
}

body .btn:hover {
    color: white;
    border: medium dashed white;
}

#status {
    margin-bottom: 40px;
}

text {
    font-family: "PT Mono", sans-serif; 
    font-size: 15px;
    text-transform: uppercase;
    fill: white;
}

svg {
    padding: 20px;
    margin: 20px;
}


.landing-page {
    text-align: center;
}

.landing-page h1 {
    text-align: center;
    font-size: 68px;
    padding-top: 30%;
}

.fb_iframe_widget {
    font-size: 40px;
}

.movie-suggestions {
    text-decoration: underline;
}

.movie-suggestions li:hover {
    cursor: pointer;
}

.center-btn {
    text-align: center;
}

.center-btn {
    margin-bottom: 60px;
}

.movie-suggestions {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
}
