

body {
    background-color: DarkSlateBlue;
    color: White;
    font-family: "Gentium Book Basic", serif;
    font-size: 12px;
}

circle {
    fill: Gold;
}

h1, h3, h5 {
    font-family: "PT Mono";
    color: Tomato; 
    text-transform: uppercase;
}

h2, h4, h6 {
    font-family: "PT Mono";
    color: Cyan; 
    text-transform: uppercase;
}

text {
    font-family: "PT Mono", sans-serif; 
    font-size: 15px;
    text-transform: uppercase;
}

svg {
    padding: 20px;
    margin: 20px;
}

.landing-page {
    height: 100vh;
    background-color: green;
    text-align: center;
}

.landing-page h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 40%;
}

.fb_iframe_widget {
    font-size: 40px;
}