

body {
    background-color: DarkSlateBlue;
    color: White;
    font-family: "Gentium Book Basic", serif;
    font-size: 12px;
}

circle {
    fill: Gold;
}

h1, h3, h5 {
    font-family: "PT Mono";
    color: Tomato; 
    text-transform: uppercase;
}

h2, h4, h6 {
    font-family: "PT Mono";
    color: Cyan; 
    text-transform: uppercase;
}

text {
    font-family: "PT Mono", sans-serif; 
    font-size: 20px;
    text-transform: uppercase;
}